.signUpButtonAction{
  position: relative;
  width: 120px;
  height: 32px;
  background: #aaa;
  border: none;
  border-radius: 2px;
  font-family: sans-serif;
  color: green
}

.signUpButtonAction:hover {
  background-color: rgb(159, 229, 159);
  transition: all 0.2s ease-in-out;
}

.signUpButtonInaction{
  position: relative;
  width: 120px;
  height: 32px;
  background: #aaa;
  border: none;
  border-radius: 2px;
  font-family: sans-serif;
  color: red
}

.signUpButtonInaction:hover{
  background-color: #E29091;
  transition: all 0.2s ease-in-out;
}

.successMessage {
  color: grey;
}
.failMessage {
  color: red;
}

input[type='text']{
  /* display: block; */
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;

}

form[name='all']{
  position: relative;
  margin: 5% auto;
  height: 600px;
  width: 600px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}